@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  border-radius: 0;
  color: #000000bd;
  background: rgb(68, 105, 247);
  background: linear-gradient(
    238deg,
    rgba(68, 105, 247, 1) 0%,
    rgba(246, 91, 245, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-y: scroll;
}


.cont{
   
  width: 60%;
  height: 100%;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  padding: 3rem;
  max-height: 40rem;
 
  
}
/* .cont::-webkit-scrollbar {
  width: 8px;
}
.cont::-webkit-scrollbar-button {
  height: 5px;
}
.cont::-webkit-scrollbar-thumb {
  background: #0000003d;
  border-radius: 2rem;
} */
@media screen and (max-width: 700px) {
  .cont {
    width: 85%;
  }
}